.TodoCounter {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 16px;
  font-weight: normal;
}

.TodoCounter h1 {
  font-weight: bold;
  color: var(--color-text);
}

/* .TodoCounter span{
  color: var(--color-primary);
} */


  